{{ define "main" }}
{{ partial "blog/blog-hero" . }}
{{ partial "breadcrumbs" . }}
<section aria-label="Resources Content Body" class="block">
    <div class="post-content wrapper flex flex-column-reverse flex-row-m">
        <div class="w-100 w-20-m">
            {{ partial "blog/share-buttons" . }}
        </div>
        <div class="w-100 w-80-m">
            <div class="post-content__inner flow">
                {{ .Content  }}
            </div>
        </div>
    </div>
</section>
{{ partial "blog/post-navigation" . }}
{{ end }}