.category-wrapper {
  position: relative;
}

.category-list {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  transform: scaleY(0);
  transform-origin: top;
  transition: 0.3s ease;
  padding: $ic-300;

  @include breakpoint(md) {
    columns: 2;
  }

  &__item {
    list-style-type: none;
    padding: 0;
  }

  &__link {
    color: $white;
    padding: 0.5rem 1rem;
    text-decoration: none;
  }
}

.category-list.list-open {
  transform: scaleY(1);
}
