.cta {
    &__wrapper {
        margin-right: clamp(-250px, 5vw, -500px);
    }

    &__content {
        bottom: 0;
        z-index: 3;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    &__content-inner {
        padding-inline: $ic-900;
    }
}

.page-sustainability,
.page-careers {
  .cta__wrapper {
    margin-top: clamp($ic-500, 10%, $ic-1000);
  }
}