.footprints {
    background-size: contain;
    background-repeat: no-repeat;
}

.footprints--left {
    background-image: url("/uploads/horse-prints-2.png");
    background-position: -5% -5%;
}

.footprints--right {
    background-image: url("/uploads/footprints-4-alt.png");
    background-position: 100% 100%;
}