.hero-slider {
  overflow: hidden;
  height: 90vh;
}

.hero-slider__wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.hero-slider__slide {
  position: absolute;
  width: inherit;
  height: inherit;
  
  img {
    object-fit: cover;
    height: 100%;
  }
}

.hero-slider__slide:nth-child(2) {
  left: 2400px;
}

.hero-slider__slide:nth-child(3) {
  left: 4800px;
}

.hero-slider__slide:nth-child(4) {
  left: 7000px;
}

.hero-slider__button-wrapper {
  position: absolute;
  bottom: 0;
}

.slider-button {
    background-color: transparent;
    color: white;
    border: none;

    // &::after {
    //   background: white;
    //   height: 3px;
    //   width: 100%;
    //   transform: scaleX(0);
    //   transform-origin: top right;
    //   position: absolute;
    //   bottom: 0;
    //   left: 0;
    //   content: "";
    //   transition: transform 0.4s ease-out;
    // }
  }