.hero-slider {
  overflow: hidden;
  height: 90vh;
  position: relative;
}

.hero-slider__wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.outter-div {
  height: 100%;
  width: 100%;
  left: 0;
  bottom: 0;
  opacity: .6;
  background: linear-gradient(90deg, #0083a8, #008195, #1b7d82, #337870, #447360, #506d55, #59664d, #5f604a);
  z-index: 2;
  position: absolute;
}

.hero-slider__slide {
  position: absolute;
  width: inherit;
  height: inherit;
  
  img {
    object-fit: cover;
    height: 100%;
  }
}

.hero-slider__slide:nth-child(2) {
  left: 2400px;
}

.hero-slider__slide:nth-child(3) {
  left: 4800px;
}

.hero-slider__slide:nth-child(4) {
  left: 7000px;
}

.hero-slider__button-wrapper{

  button {
    width: 200px;
  }

  & .slider-button:first-child {
    padding-left: 0;
  }
}

.slider-button {
  background-color: transparent;
  color: white;
  border: none;
  position: relative;

  &::after {
    background: $white;
    height: 3px;
    width: 100%;
    transform: scaleX(0);
    transform-origin: top right;
    position: absolute;
    top: 3px;
    left: 0;
    content: "";
    transition: transform 0.4s ease-out;
  }

  &:hover,
  &:focus {
    color: $white;

    &::after {
      transform: scaleX(1);
      transform-origin: top left;
      border: $accent-color;
    }
  }
}

.hero-button {
  background-color: $white;

  &:hover,
  &:focus {
    color: $primary-color;
    background-color: #EBF1F2;
  }
}

.__content {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.hero-slider__outter-content-wrapper {
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 2;

}

.hero-slider__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.hero-slider-heading {
  width: 75%;
}

.hero-slider__outer-div {
  position: absolute;
  bottom: 0;
  z-index: 2;
  width: 100%;
}