.hero-slider {
  overflow: hidden;
  height: calc(100vh - 108px);
  position: relative;
}

.hero-slider__wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateX(0);
  transition: transform 0.3s ease-out;
}

.outter-div {
  height: 100%;
  width: 100%;
  left: 0;
  bottom: 0;
  background: linear-gradient(90deg, #0083A8 0%, rgba(95, 96, 74, 0.3) 100%);
  z-index: 2;
  position: absolute;
}

.hero-slider__slide {
  position: absolute;
  width: inherit;
  height: inherit;
  
  img {
    object-fit: cover;
    height: 100%;
  }
}

.hero-slider__button-wrapper{

  button {
    width: 200px;
  }

  & .slider-button:first-child {
    padding-left: 0;
  }
}

.slider-button {
  background-color: transparent;
  color: white;
  border: none;
  position: relative;

  &::after {
    background: $white;
    height: 3px;
    width: 100%;
    transform: scaleX(0);
    transform-origin: top right;
    position: absolute;
    top: 3px;
    left: 0;
    content: "";
    transition: transform 0.4s ease-out;
  }

  &:hover,
  &:focus {
    color: $white;

    &::after {
      transform: scaleX(1);
      transform-origin: top left;
      border: $accent-color;
    }
  }
}

.active-button {

  &::after {
    transform: scaleX(1);
  }
}

.hero-button {
  background-color: $white;

  &:hover,
  &:focus {
    color: $primary-color;
    background-color: #EBF1F2;
  }
}

.__content {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.hero-slider__outter-content-wrapper {
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 2;
}

.hero-slider__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.hero-slider-heading {
  width: 75%;
}

.hero-slider__outer-div {
  position: absolute;
  bottom: 0;
  z-index: 2;
  width: 100%;
}