.reel {
  height: 100%;
  // margin-right: -170px;
}

.card__wrapper {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-color: #1F2526 #EBF1F2;
  background-color: $primary-color;
  margin-right: -180px;

  img {
    height: 100%;
    object-fit: cover;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.card__image-card {
  display: flex;
  flex: 0 0 500px;
  width: 500px;
  height: 500px;
  margin-bottom: 1rem;

  &:hover,
  &:focus {
    filter: brightness(75%);

    .card__image-text-wrapper {
      h3 {
        transform: translateY(-17px);
        transition: 0.3s ease-out;
      }
    }
  }
}

.card__wrapper::-webkit-scrollbar {
  block-size: 1rem;
}

.card__wrapper::-webkit-scrollbar-thumb {
  background-color: #1F2526;
}

.card__wrapper::-webkit-scrollbar-track {
  background-color: #EBF1F2;
}

.card__wrapper > * + * {
  margin-inline-start: 2rem;
}

.card-gradient {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  bottom: 0;
  background: linear-gradient(180deg, rgba(217, 217, 217, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
  background-blend-mode: multiply;
}

.card__image-text-wrapper {
  z-index: 2;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 20px;
}