.reel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: clamp(275px, 50vw, 500px);
  gap: $ic-400;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  margin-right: -25px;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  @include breakpoint(xl) {
    margin-right: -180px;
  }
}

.reel > * {
  scroll-snap-align: start;
}

.reel::-webkit-scrollbar {
  block-size: 1rem;
}

.reel::-webkit-scrollbar-thumb {
  background-color: #1F2526;
}

.reel::-webkit-scrollbar-track {
  background-color: #EBF1F2;
}

.reel__image {
  // display: flex;
  // flex-shrink: 0;
  // flex-grow: 0;
  // flex-basis: clamp(275px, 50vw, 500px);
  // height: clamp(275px, 50vw, 500px);
  margin-bottom: 1rem;

  img {
    transition: 0.3s ease-out;
  }

  &:hover,
  &:focus {
    
    img {
      filter: brightness(65%);
    }
    
    .reel__heading {
      transform: translateY(-17px);
    }
  }
}

.reel__gradient {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  bottom: 0;
  background: linear-gradient(180deg, rgba(217, 217, 217, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
  background-blend-mode: multiply;
}

.reel__heading {
  z-index: 2;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 20px;
  transition: 0.3s ease-out;
}