.reel {
  height: 100%;
  margin-left: 9%;
}

.reel__wrapper {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-color: #1F2526 #EBF1F2;
  background-color: $primary-color;

  img {
    height: 100%;
    object-fit: cover;
    margin: -2rem 1rem;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.reel__image-wrapper {
  display: flex;
  flex: 0 0 500px;
  width: 500px;
  height: 500px;
}

.reel__wrapper::-webkit-scrollbar {
  block-size: 1rem;
}

.reel__wrapper::-webkit-scrollbar-thumb {
  background-color: #1F2526;
}

.reel__wrapper::-webkit-scrollbar-track {
  background-color: #EBF1F2;
}

.reel__wrapper > * + * {
  margin-inline-start: 2rem;
}