.intro {
    padding: clamp($ic-500, 60%, 250px) 0 clamp($ic-900, 10%, $ic-1000) 0;
    // background-image: url("/uploads/background-texture-small.png");
    background-image: url("/uploads/background-texture-optimize-4.png");

    &__image-small {
        position: absolute;
        max-width: clamp(150px, 15vw, 250px);
        bottom: -70px;
        left: -100px;
    }

    &__image-large {
        max-width: 700px;
    }
}