.post-navigation {
  padding: $ic-300 0 0 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  @include breakpoint(sm) {
    flex-direction: row;
    align-items: center;
  }

  &__next a,
  &__prev a,
  &__back a {
    display: flex;
    text-decoration: none;

    &:hover,
    &:focus {
      color: $primary-color;

      svg {
        stroke: $primary-color;
      }
    }
  }

  &__next {
    margin-left: $ic-200;

    &:hover,
    &:focus {
      svg {
        transform: translateX(5px);
      }
    }
  }

  &__prev {
    margin-right: $ic-200;

    &:hover,
    &:focus {
      svg {
        transform: translateX(-5px);
      }
    }
  }

  svg {
    height: $ic-100;
    width: $ic-100;
    fill: $primary-color;
    transition: 0.3s ease;
    margin: 0 $ic-100;
  }
}

.post-navigation--alt {
  padding: 0;

  .post-navigation__link {
    padding: $ic-900;
    height: 100%;
    transition: 0.5s ease-out;

    &:hover,
    &:focus {
      background: $primary-color;
      color: $white;
    }
  }

  .post-navigation__label {
    margin-bottom: 1.5rem;
  }

  .post-navigation__button + .post-navigation__button {
    border-left: 1px solid $black;
  }
}
