.separator {
    height: 2px;
    width: $ic-900;
    margin: $ic-300 auto;
    background-color: $primary-color;
}

.separator--fence {
    max-width: 125px; 
    margin: $ic-300 0;
    position: relative;
    left: -8px;
} 

.separator--horse {
    max-width: 300px;
    margin: 0 auto;
}