.social {
  margin: 0;
  padding: 0;

  li {
    list-style-type: none;
    margin: 0;
  }

  .facebook-icon {
    top: -3px;
  }

  &__icon, 
  &__icon-inner {
    border-radius: 50%;
    display: grid; 
    place-items: center;
  }

  &__icon {
    position: relative;
    margin: 0 5px;
    background-color: rgba($accent-color, .5);
    width: $ic-600;
    height: $ic-600;

    svg {
      width: $ic-300;
      height: $ic-300;
      fill: $black;
    }

    &:hover,
    &:focus {
      &::before {
        opacity: 1;
      }
    }
  }

  &__icon-inner {
    background-color: $accent-color;
    width: $ic-500;
    height: $ic-500;
  }

  &__list-item:first-of-type a {
    padding-left: 0;
  }
}
