
<article class="card card--blog shadow-xl fs-100">
	<a href="{{ .Permalink }}" class="flow no-decoration">
		<img src="/uploads/animal-care-cow.jpg" alt="">
		{{ if .Params.Categories }}
			{{ range $index, $elements := .Params.Categories }}
				<div class="card__meta bg-primary text-white fs-100 fw-700">
					<span class="card__categories">{{ if ne $index 0 }}{{ end }}{{ . | title }}</span>
				</div>
			{{ end}}
		{{ end }}
		<div class="card__body flow">
			<h3 class="h6">{{ .Title | markdownify }}</h3>
			<p class="text-black">{{ if .Params.seo.meta_description }}{{ .Params.seo.meta_description | safeHTML | truncate 125 }}{{ else }}{{ .Summary  | safeHTML | truncate 125 }}{{ end }}</p>
		</div>
		<span class="card__reading-time flex flex-center fs-100">{{ partialCached "svg-icons/clock.svg" . }} {{ .ReadingTime }} min read</span>
		<div class="card__arrow bg-primary">
			{{ partialCached "svg-icons/double-chevron-right.svg" . }}
		</div>
	</a>
</article>