{{ define "main" }}
{{ partial "hero" . }}
{{ partial "our-philosophy/intro" . }}
{{ if .Params.natural_horsemanship_block.enabled }}
    {{ with .Params.natural_horsemanship_block }}
        <div class="block bg-gray">
            <div class="wrapper flow">
                {{ if .heading }}
                    {{ partial "heading" . }}
                {{ end }}
                {{ if .body }}
                    {{ .body | safeHTML }}
                {{ end }}
            </div>
        </div>
    {{ end }}
{{ end }}
{{ if .Params.health_and_safety_block.enabled }}
    {{ with .Params.health_and_safety_block }}
        <section aria-labelledby="{{ .heading | urlize }}" class="block">
            <div class="wrapper flow">
                {{ if .heading }}
                    {{ partial "heading" . }}
                {{ end }}
                {{ if .body }}
                    {{ .body | safeHTML }}
                {{ end }}
                {{ if .button.enabled }}
                    {{ with .button }}
                        <a href="{{ .button_url }}" class="btn btn--primary" {{ if .open_in_new_tab }} target="_blank" rel="noopener noreferrer nofollower"{{ end }}>{{ .button_text }}</a>
                    {{ end }}
                {{ end }}
            </div>
        </section>
    {{ end }}
{{ end }}
{{ if .Params.page_blocks }}
    {{ range .Params.page_blocks }}
        {{ partial "page-block" . }}
    {{ end }}
{{ end }}
{{ if .Params.cta_block.enabled }}
    {{ with .Params.cta_block }}
        {{ partial "site-cta" . }}
    {{ end }}
{{ end }}
{{ end }}