{{ define "main" }}
{{ partial "hero" . }}
<section aria-labelledby="{{ .Params.hero.heading | plainify | urlize }}">
  <div id="intro" class="intro">
    <div class="wrapper flow">
      {{ .Content }}
    </div>
  </div>
</section>
{{ if eq .Section "sustainability" }}
  {{ partial "image-reel" . }}
  {{ if .Site.Data.global_partials.sustainability_cta.enabled }}
    {{ with .Site.Data.global_partials.sustainability_cta }}
      {{ partial "cta" . }}
    {{ end }}
  {{ end }}
{{ else if eq .Section "tours" }}
  {{ if .Params.tour_cta.enabled }}
    {{ with .Params.tour_cta }}
      {{ partial "cta" . }}
    {{ end }}
  {{ end }}
{{ end }}
{{ end }}