{{ define "main" }}
{{ partial "hero-small" . }}
<section class="block">
    <div class="wrapper text-center flow">
        <h2>Thank you for your message!</h2>
        <img src="/uploads/horse-divider.svg" alt="" class="separator--horse">
        <p>A {{ .Site.Data.site_settings.business_name }} team member will contact you as soon as possible. In the meantime, connect with us on social media to learn more about us and our animals.</p>
        <div class="text-center">
            {{ partialCached "social-media" . }}
        </div>
    </div>
</section>
{{ end }}
