.footer {
  background-color: #1F2526;
  color: $white;

  &__col {
    margin: $ic-300 0;
    flex: 1;

    @include breakpoint(md) {
      margin: 0;
    }
  }

  &__logo,
  .footer__logo img {
    max-width: 250px;
  }

  &__bottom-wrapper {
    border-top: 1px solid rgba($white, .25);
  }

  .footer-nav {
    list-style: none;
    padding: 0;

    &__item {
      a {
        color: $white;
      }
    }
  }

  .copyright {
    font-size: 14px;
    padding: $ic-100 0;

    @include breakpoint(sm) {
      flex-direction: row;
    }

    a {
      text-decoration: none;
  
      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }

    p {
      margin: 0;
    }

    &__nav {
      margin: 0;
      padding: 0;

      @include breakpoint(sm) {
        flex-direction: row;
      }
    }

    &__list-item {
      list-style-type: none;
      margin: $ic-100;

      a {
        color: $white;
      }

      @include breakpoint(md)  {
        margin: 0;
        margin-left: $ic--100;
      }
    }

    p, .credits {
      text-align: center;

      a {
        color: $white;
      }

      @include breakpoint(md)  {
        text-align: left;
      }
    }

    @include breakpoint(md)  {
      .credits {
        margin-left: auto;
      }
    }
  }
}

.footer-farm-logo {
  height: 100px;
  width: 100px;
  margin-top: 1.5rem;
}