.footer {
  background-color: #1F2526;
  color: $white;

  &__col {
    margin: $ic-300 0;
    flex: 1;

    @include breakpoint(md) {
      margin: 0;
    }
  }

  &__logo,
  .footer__logo {
    img {
      max-width: 250px;
      transition: 0.3s ease-in-out;

      &:hover,
      &:focus {
        opacity: 0.7;
      }
    }
  }

  &__bottom-wrapper {
    border-top: 1px solid rgba($white, .25);
  }

  .footer-nav {
    list-style: none;
    padding: 0;
    columns: 2;

    &__item {
      a {
        color: $white;
        font-weight: 400;
      }
    }

    &__link {
      padding: 0;

      &::after {
        background: $white;
      }
    }
  }

  .copyright {
    font-size: 14px;
    padding: $ic-100 0;

    @include breakpoint(sm) {
      flex-direction: row;
    }

    a {
      text-decoration: none;
  
      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }

    p {
      margin: 0;
    }

    &__nav {
      margin: 0;
      padding: 0;

      @include breakpoint(sm) {
        flex-direction: row;
      }
    }

    &__list-item {
      list-style-type: none;
      margin: $ic-100;

      a {
        color: $white;
      }

      @include breakpoint(md)  {
        margin: 0;
        margin-left: $ic--100;
      }
    }

    p, .credits {
      text-align: center;

      a {
        color: $white;
      }

      @include breakpoint(md)  {
        text-align: left;
      }
    }

    @include breakpoint(md)  {
      .credits {
        margin-left: auto;
      }
    }
  }
}

.footer-farm-logo {
  height: 100px;
  width: 100px;
  margin-top: 1.5rem;
}

.parent-page-sustainability,
.parent-page-careers,
.parent-page-tours {
  #footer {
    margin-top: -$ic-1000;
    padding-top: $ic-1000;
  }
}