{{ define "main" }}
{{ partial "hero" . }}
{{ partial "intro" . }}
{{ if .Params.page_blocks }}
    {{ range .Params.page_blocks }}
        {{ partial "page-block" . }}
    {{ end }}
{{ end }}
{{ if .Params.weather_protection_block.enabled }}
    {{ with .Params.weather_protection_block }}
    <section aria-labelledby="{{ .heading | urlize }}" class="weather-block block bg-gray">
        <div class="wrapper-lg flow">
            {{ if .heading }}
                {{ partial "heading-centered" . }}
            {{ end }}
            {{ if .subheading }}
                <p class="text-center max-width-none">{{ .subheading }}</p>
            {{ end }} 
            <div class="block-sm">
                <div class="flex flex-column flex-row-m">
                    {{ range .columns }}
                        <div class="w-100 w-50-m text-center">
                            {{ if .heading }}
                                <h3>{{ .heading }}</h3>
                            {{end }}
                            {{ if .body }}
                                {{ .body | safeHTML }}
                            {{ end }}
                        </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </section>
    {{ end }}
{{ end }}
{{ if .Params.facility_amenities_block.enabled }}
    {{ with .Params.facility_amenities_block }}
        {{ partial "page-block" . }}
    {{ end }}
{{ end }}
{{ if .Params.cta_block.enabled }}
    {{ with .Params.cta_block }}
        {{ partial "site-cta" . }}
    {{ end }}
{{ end }}
{{ end }}