.page-our-philosophy {
    .intro {
        text-align: center;

        .separator--fence {
            display: none;
        }

        p {
            max-width: 600px;
            margin: $ic-200 auto;
        }
    }
}