.page-contact .contact-form {
    @include breakpoint(md) {
        margin-top: -200px;
    }
}

.contact {
    padding: $ic-100;
    border: 1px solid $gray;
    margin: $ic-300;
    border-radius: 15px;
}