.page-contact .contact-form {
    @include breakpoint(md) {
        margin-top: -200px;
    }
}

.contact {
    padding: $ic-100;
    border: 1px solid $light-gray;
    margin: $ic--200;
    border-radius: 5px;
}

.work-phone {
    text-decoration: none;
}

.work-email {
    text-decoration: none;
}