.facility {
    &__content {
        img {
            max-width: 25px;
        }
    }

    .features {
        display: flex;
        flex-wrap: wrap;

        &__item {
            flex: 1 1 300px; /*  Stretching: */
            margin-top: 0;
        }

        &__icon {
            height: $ic-600;
            width: $ic-600;
            background-color: rgba($secondary-color, .5);
            display: grid; 
            place-items: center;
            border-radius: 50%;
        }

        &__icon-inner {
            height: $ic-500;
            width: $ic-500;
            background-color: $secondary-color;
            display: grid; 
            place-items: center;
            border-radius: 50%;
        }
    }

    .background-image img {
        max-height: 750px;
    }
}

.about {
    margin-top: 30rem;
}

.intro-test {
    background: url("/uploads/background-texture-small.png");
}

.intro-wrapper {
    margin: auto;
}

.intro-wrapper__body {
    margin-bottom: $ic-600;
}

// .intro-wrapper__images {
//     left: 20.5%;
// }

// .intro-wrapper__image-small {
//     position: relative;
//     top: 44%;
//     right: 94%;
// }

.community-content {
    padding-right: $ic-900;
    margin-left: 0;
} 

.community-image{

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.community-button {
    margin-top: $ic-600;
}

.cta__content {
    bottom: 0;
    z-index: 3;
    height: 100%;
    display: flex;
    flex-direction: column;
}