.hero-wrapper__image {

  img {
    height: 500px;
    object-fit: cover;
  }
}

.hero-block {
  transform: translateY(-50%);
  background-color: $primary-color;
  width: 60%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.learn-more {
  bottom: 0;
  right: 0;
  background-color: #006F8F;
  display: flex;
  align-items: center;
  justify-content: center;

  a {
    color: $white !important;
    font-family: $secondary-font;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 2px;
    display: flex;
    align-items: flex-end;
    background-image: none !important;
  }

  svg {
    transform: rotate(90deg);
    color: $white;
  }
}