.sustainability__hero-wrapper {
  margin-bottom: 19rem;
}

.hero-wrapper__image {

  img {
    height: 500px;
    object-fit: cover;
  }
}

.hero-block {
  bottom: -12.5rem;
  background-color: $primary-color;
  width: 1241px;
  height: 340px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.learn-more {
  bottom: -12rem;
  left: 63rem;
  background-color: #006F8F;
  height: 92px;
  width: 223px;

  a {
    color: $white !important;
  }
}

.hero-content {
  margin-left: 100px;
}