<section aria-labelledby="{{ .heading | urlize }}" class="block bg-{{ .background_color }}">
    <div class="wrapper-lg grid-{{ .number_of_columns }}">
      {{ range .columns }}
        <div class="column flow text-center">
          <h2>{{ .heading }}</h2>
          <p style="max-width: 800px; margin: 1.25rem auto 0 auto;">{{ .body | safeHTML }}</p>
          {{ if .button.enabled }}
            {{ with .button }}
                <a href="{{ .button_url }}" class="btn btn--primary" {{ if .open_in_new_tab }} target="_blank" rel="noopener noreferrer nofollower"{{ end }}>{{ .button_text }}</a>
            {{ end }}
          {{ end }}
        </div>
      {{ end }}
    </div>
</section>