<section class="cta p-relative">
  <div class="cta__image cover-image p-absolute"><img src="{{ .image.image_url }}" alt=""></div>
  <div class="bg-gradient"></div>
  <div class="cta__content p-relative block">
      <div class="wrapper-lg flow">
        <h2 class="text-white">{{ .heading }}</h2>
        <p class="text-white">{{ .body }}</p>
        {{ if .button.enabled }}
        <a href="{{ .Params.careers.button.button_url }}" class="btn btn--white hero-button">{{ .button.button_text }}</a>
      </div>
      {{ end }}
  </div>
</section>