<section class="cta">
  <div class="wrapper-lg">
    <div class="cta__wrapper p-relative">
      {{ partial "cta-image" . }}
      <div class="cta__content p-relative block">
          <div class="cta__content-inner flow">
            <h2 class="text-white">{{ .heading }}</h2>
            <p class="text-white">{{ .body }}</p>
            {{ if .button.enabled }}
              {{ with .button }}
                <a href="{{ .button_text }}" class="btn btn--white">{{ .button_text }}</a>
              {{ end }}
            {{ end }}
          </div>
      </div>
    </div>
  </div>
</section>