<footer id="footer" class="footer bg-white">
  <div class="footer__top block-sm">
    <div class="wrapper-lg">
      <div class="flex flex-column flex-row-m">
        <div class="footer__contact footer__col">
          <a class="footer__logo" href="{{ site.BaseURL }}">
            {{ if .Site.Data.site_settings.logo }}
              <img src="/uploads/{{ .Site.Data.site_settings.footer_logo }}?auto=format&width=164&height=141" width="164" height="141" alt="{{ .Site.Data.site_settings.business_name }} logo">
            {{ else }}
              <h2 class="text-white">{{ site.Title }}</h2>
            {{ end }}
          </a>
        </div>
        <div class="footer__col">
          <div>
            <h2 class="h5 text-white">Contact Us</h2>
            <address>
              <p>{{ .Site.Data.site_settings.address.street }}</p>
              <p>{{ .Site.Data.site_settings.address.city }}, {{ .Site.Data.site_settings.address.state }} {{ .Site.Data.site_settings.address.zip }}</p>
            </address>
            <p class="mt-2">Office: <a href="tel:{{ .Site.Data.site_settings.phone }}" class="text-white">{{ .Site.Data.site_settings.phone }}</a></p>
            <p>Fax: {{ .Site.Data.site_settings.fax }}</p>
            {{ partialCached "social-media" . }}
          </div>
        </div>
        <div class="footer__col">
          <div>
            <h2 class="h5 text-white">National Dairy FARM Program</h2>
            <p class="w-26ch">This farm participates in the National Dairy FARM Program and is committed to providing the highest level of animal care and quality assurance.</p>
            <img src="/uploads/farm-logo-4.png" alt="FARM logo" class="footer-farm-logo">
          </div>
        </div>
        <div class="footer__col">
          <nav aria-label="Quick Links">
            <h2 class="h5 text-white">Quick Links</h2>
            <ul class="footer-nav">
              {{ range .Site.Menus.main }}
                <li class="footer-nav__item">
                  <a class="footer-nav__link fw-700" href="{{ .URL }}" aria-label="{{ .Name }}">
                    {{ .Name }}
                  </a>
                </li>
              {{ end }}
              {{ range .Site.Menus.secondary }}
                <li class="footer-nav__item">
                  <a class="footer-nav__link fw-700" href="{{ .URL }}" aria-label="{{ .Name }}">
                    {{ .Name }}
                  </a>
                </li>
              {{ end }}
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__bottom wrapper-lg">
    <div class="footer__bottom-wrapper">
      <div class="copyright flex flex-column flex-row-m">
        <p>© {{ dateFormat "2006" now }} {{ .Site.Data.site_settings.business_name }}</p>
        <ul class="copyright__nav flex flex-justify-start-m">
          <li class="copyright__list-item"><a href="/privacy-policy/" class="copyright__nav-item">Privacy Policy</a></li>
          <li class="copyright__list-item"><a href="/sitemap/" class="copyright__nav-item">Sitemap</a></li>
          <li class="copyright__list-item"><a href="/contact/" class="copyright__nav-item">Contact</a></li>
        </ul>
        <div class="credits"><a href="https://insightcreative.com" target="_blank">Website by Insight Creative, Inc.</a></div>
      </div>
    </div>
  </div>
</footer>
{{ partial "scripts" . }}