<footer id="footer" class="footer bg-white">
  <div class="footer__top block-sm">
    <div class="wrapper-lg">
      <div class="flex flex-column flex-row-m fade-staggered">
        <div class="footer__contact footer__col flex flex-justify-center">
          <a class="footer__logo" href="{{ site.BaseURL }}">
            {{ if .Site.Data.site_settings.logo }}
              <img src="/uploads/{{ .Site.Data.site_settings.logo }}?auto=format&width=164&height=141" width="164" height="141" alt="{{ .Site.Data.site_settings.business_name }} logo">
            {{ else }}
              <h2>{{ site.Title }}</h2>
            {{ end }}
          </a>
        </div>
        <div class="footer__col flex flex-justify-center fade-staggered">
          <div>
            <h2 class="h4">Navigate</h2>
            <ul class="footer-nav">
              {{ range .Site.Menus.main }}
                <li class="footer-nav__item">
                  <a class="footer-nav__link shift-up fw-700" href="{{ .URL }}" aria-label="{{ .Name }}">
                    {{ .Name }}
                  </a>
                </li>
              {{ end }}
              <li class="footer-nav__item">
                <a class="footer-nav__link shift-up fw-700" href="/schedule-a-tour/" aria-label="Schedule a Tour">Schedule a Tour</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="footer__col flex flex-justify-center fade-staggered">
          <div>
            <h2 class="h4">Connect With Us</h2>
            {{ partialCached "social-media" . }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__bottom wrapper-lg">
    <div class="footer__bottom-wrapper">
      <div class="copyright flex flex-column flex-row-m flex-center">
        <p>© {{ dateFormat "2006" now }} {{ .Site.Data.site_settings.business_name }}</p>
        <ul class="copyright__nav flex flex-justify-center flex-justify-start-m">
          <li class="copyright__list-item"><a href="/privacy-policy/" class="copyright__nav-item">Privacy Policy</a></li>
          <li class="copyright__list-item"><a href="/sitemap/" class="copyright__nav-item">Sitemap</a></li>
          <li class="copyright__list-item"><a href="/contact/" class="copyright__nav-item">Contact</a></li>
        </ul>
        <div class="credits"><a href="https://insightcreative.com" target="_blank">Website by Insight Creative, Inc.</a></div>
      </div>
    </div>
  </div>
</footer>
{{ partial "scripts" . }}