{{ $heroClass := lower .Page.Title }}
<div class="hero hero--{{ anchorize $heroClass }}">
  {{ if .Params.hero.image.image_url }}
  {{ partial "hero-image" . }}
  {{ end }}
  <div class="hero__content block-sm w-100">
    <div class="hero__content-inner wrapper-lg flow">
      <div>
        {{ partial "breadcrumbs" . }}
        <h1 class="text-white">{{ .Params.hero.heading }}</h1>
      </div>
      <p class="text-white">{{ .Params.hero.body }}</p>
    </div>
    <a href="#intro" class="btn btn--learn-more">Learn More{{ partialCached "svg-icons/double-chevron-down.svg" . }}</a>
  </div>
</div>