{{ $heroClass := lower .Page.Title }}
<section aria-labelledby="hero-heading" class="hero {{ anchorize $heroClass }}-hero">
  {{ partial "hero-image" . }}
  <div class="hero__content shadow-md">
    <div class="hero__content-inner bg-white text-center flow">
      <h1 id="hero-heading" class="no-margin">{{ .Params.hero.heading }}</h1>
      {{ if .Params.hero.button.enabled }}
        {{ with .Params.hero.button }}
        <a href="{{ .button_url }}" class="btn btn--primary" {{ if .open_in_new_tab }} target="_blank" rel="noopener noreferrer nofollower"{{ end }}>{{ .button_text }}</a>
        {{ end }}
      {{ end }}
    </div>
  </div>
</section>
