{{ $pages := where .Site.RegularPages "Section" "sustainability" }}
<section class="block bg-primary mt-10">
    <div class="reel__ wrapper-lg">
        {{ if .Params.slider.enabled}}
        <div class="reel-content mb-4">
            <div class="reel-heading">
                <h2 class="text-white">{{ .Params.slider.heading }}</h2>
            </div>
            <div class="reel-body">
                <p class="text-white">{{ .Params.slider.body }}</p>
            </div>
        </div>
        {{ end }}
    </div>
    <div class="reel">
        <div class="reel__wrapper p-relative">
                
                {{ range $pages }}
                <div class="reel__image-card p-relative">
                    <img src="{{ .Params.hero.image.image_url }}" alt="" class="reel__image p-relative">
                    <div class="reel-gradient"></div>
                    <div class="reel__image-text-wrapper p-absolute">
                        <h3 class="reel__image-text text-white h4">{{ .Params.hero.heading }}</h3>
                    </div>
                </div>
                {{ end }}

        </div>
    </div>
</section>