{{ $pages := where .Site.RegularPages "Section" "sustainability" }}
<section class="block bg-primary">
    <div class="reel wrapper-lg">
        {{ if .Params.slider.enabled}}
        <div class="mb-4 flow">
            <h2 class="text-white">{{ .Params.slider.heading }}</h2>
            <p class="text-white">{{ .Params.slider.body }}</p>
        </div>
        {{ end }}
    </div>
    <div class="wrapper-lg">
        <div class="card__wrapper p-relative">
            {{ range $pages }}
            {{ if ne .Title "What is Carbon Footprint" }}
            <div class="card__image-card p-relative">
                <a href="{{ .Permalink }}">
                    <!-- <img src="{{ .Params.hero.image.image_url }}" alt="" class="card__image p-relative"> -->
                    {{ with .Params.hero }}
                    {{ partial "responsive-image" . }}
                    {{ end }}
                    <div class="card-gradient"></div>
                    <div class="card__image-text-wrapper p-absolute">
                        <h3 class="card__image-text text-white h4">{{ .Params.hero.heading }}</h3>
                    </div>
                </a>
            </div>
            {{ end }}
            {{ end }}
        </div>
    </div>
</section>