{{ $pages := where .Site.RegularPages "Section" "sustainability" }}
<section class="block bg-primary">
    <div class="wrapper-lg">
        {{ if .Params.slider.enabled}}
        <div class="mb-4 flow">
            <h2 class="text-white">{{ .Params.slider.heading }}</h2>
            <p class="text-white">{{ .Params.slider.body }}</p>
        </div>
        {{ end }}
    </div>
    <div class="wrapper-lg">
        <div class="reel p-relative">
            {{ range $pages }}
            {{ if ne .Title "What is Carbon Footprint" }}
            <div class="reel__image p-relative">
                <a href="{{ .Permalink }}">
                    {{ with .Params.hero }}
                    {{ partial "responsive-image" . }}
                    {{ end }}
                    <div class="reel__gradient"></div>
                    <h3 class="reel__heading p-absolute text-white h4">{{ .Params.hero.heading }}</h3>
                </a>
            </div>
            {{ end }}
            {{ end }}
        </div>
    </div>
</section>