{{ if .Params.intro.enabled }}
{{ with .Params.intro }}
<section class="block-lg">
    <div class="wrapper-lg">
        <div class="intro-outter flex flex-row">
            <div class="intro-wrapper w-40-m">
                <div class="intro-wrapper__heading">
                    <h2>{{ .heading }}</h2>
                </div>
                <div class="intro-wrapper__body">{{ .body }}</div>
                {{ if .Params.button.enabled }}
                <div><a href="{{ .button.button_url }}" class="btn btn--primary">{{ .button.button_text }}</a></div>
                {{ end }}
            </div>
            <div class="intro-wrapper__images flex flex-row w-60-m p-relative">
                <div class="intro-wrapper__image-2">
                    {{ partial "responsive-image" . }}
                </div>
                <div class="intro-wrapper__image-1">
                    {{ partial "responsive-image-small" . }}
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}
{{ end }}