<picture>
    <source sizes="(min-width: 993px) 100vw, 50vw" srcset="https://milksource.imgix.net{{ .image.image_url }}?fm=avif&q=75&width=400&height=400&fit=crop 400w, https://milksource.imgix.net{{ .image.image_url }}?fm=avif&q=75&width=600&height=600&fit=crop 600w, https://milksource.imgix.net{{ .image.image_url }}?fm=avif&q=75&fit=crop&w=705&h=705 800w" type="image/avif">

    <source sizes="(min-width: 993px) 100vw, 50vw" srcset="https://milksource.imgix.net{{ .image.image_url }}?fm=webp&q=75&width=400&height=400&fit=crop 400w, https://milksource.imgix.net{{ .image.image_url }}?fm=webp&q=75&width=600&height=600&fit=crop 600w, https://milksource.imgix.net{{ .image.image_url }}?fm=webp&q=75&fit=crop&w=705&h=705 800w" type="image/webp">

    <source sizes="(min-width: 993px) 100vw, 50vw" srcset="https://milksource.imgix.net{{ .image.image_url }}?fm=jpg&q=75&width=400&height=400&fit=crop 400w, https://milksource.imgix.net{{ .image.image_url }}?fm=jpg&q=75&width=600&height=600&fit=crop 600w, https://milksource.imgix.net{{ .image.image_url }}?fm=jpg&q=75&fit=crop&w=705&h=705 800w" type="image/jpg">

    <img src="{{ .image.image_url }}" width="700" height="700" alt="{{ .image.image_alt }}" loading="lazy">   
</picture>