<picture>
    <source sizes="(min-width: 993px) 100vw, 50vw" srcset="https://ik.imagekit.io/insightcreative/mind-team{{ .Params.seo.featured_image }}?tr=f-avif,q-75,w-375,h-275 400w, https://ik.imagekit.io/insightcreative/mind-team{{ .Params.seo.featured_image }}?tr=f-avif,q-75,w-600,h-450 600w, https://ik.imagekit.io/insightcreative/mind-team{{ .Params.seo.featured_image }}?tr=f-avif,q-75,w-800,h-525 800w" type="image/avif">

    <source sizes="(min-width: 993px) 100vw, 50vw" srcset="https://ik.imagekit.io/insightcreative/mind-team{{ .Params.seo.featured_image }}?tr=f-webp,q-75,w-375,h-275 400w, https://ik.imagekit.io/insightcreative/mind-team{{ .Params.seo.featured_image }}?tr=f-webp,q-75,w-600,h-450 600w, https://ik.imagekit.io/insightcreative/mind-team{{ .Params.seo.featured_image }}?tr=f-webp,q-75,w-800,h-525 800w" type="image/webp">

    <source sizes="(min-width: 993px) 100vw, 50vw" srcset="https://ik.imagekit.io/insightcreative/mind-team{{ .Params.seo.featured_image }}?tr=f-jpg,q-75,w-375,h-275 400w, https://ik.imagekit.io/insightcreative/mind-team{{ .Params.seo.featured_image }}?tr=f-jpg,q-75,w-600,h-450 600w, https://ik.imagekit.io/insightcreative/mind-team{{ .Params.seo.featured_image }}?tr=f-jpg,q-75,w-800,h-525 800w" type="image/jpg">

    <img src="/uploads{{ .Params.seo.featured_image }}" alt="{{ .Params.seo.featured_image_alt }}" width="600" height="450">   
</picture>
