<picture>
    <source sizes="(min-width: 993px) 50vw, 100vw" srcset="https://ik.imagekit.io/whistlersrun{{ .image_url }}?tr=f-avif,q-70,w-325,h-250 400w, https://ik.imagekit.io/whistlersrun{{ .image_url }}?tr=f-avif,q-70,w-500,h-350 600w, https://ik.imagekit.io/whistlersrun{{ .image_url }}?tr=f-avif,q-85,w-950,h-650 800w" type="image/avif">

    <source sizes="(min-width: 993px) 50vw, 100vw" srcset="https://ik.imagekit.io/whistlersrun{{ .image_url }}?tr=f-webp,q-70,w-325,h-250 400w, https://ik.imagekit.io/whistlersrun{{ .image_url }}?tr=f-webp,q-70,w-500,h-350 600w, https://ik.imagekit.io/whistlersrun{{ .image_url }}?tr=f-webp,q-85,w-950,h-650 800w" type="image/webp">

    <source sizes="(min-width: 993px) 50vw, 100vw" srcset="https://ik.imagekit.io/whistlersrun{{ .image_url }}?tr=f-jpg,q-70,w-325,h-250 400w, https://ik.imagekit.io/whistlersrun{{ .image_url }}?tr=f-jpg,q-70,w-500,h-350 600w, https://ik.imagekit.io/whistlersrun{{ .image_url }}?tr=f-jpg,q-85,w-950,h-650 800w" type="image/jpg">

    <img src="{{ .image_url }}" alt="{{ .image_alt }}" width="900" height="625">   
</picture>
