<picture>
    <source sizes="(min-width: 993px) 100vw, 50vw" srcset="https://milksource.imgix.net{{ .image1.image_url }}?fm=avif&q=75&width=325&height=250 400w, https://milksource.imgix.net{{ .image1.image_url }}?fm=avif&q=75&width=600&height=450 600w, https://milksource.imgix.net{{ .image1.image_url }}?fm=avif&q=75&fit=crop&w=353&h=471 800w" type="image/avif">

    <source sizes="(min-width: 993px) 100vw, 50vw" srcset="https://milksource.imgix.net{{ .image1.image_url }}?fm=webp&q=75&width=325&height=250 400w, https://milksource.imgix.net{{ .image1.image_url }}?fm=webp&q=75&width=600&height=450 600w, https://milksource.imgix.net{{ .image1.image_url }}?fm=webp&q=75&fit=crop&w=353&h=471 800w" type="image/webp">

    <source sizes="(min-width: 993px) 100vw, 50vw" srcset="https://milksource.imgix.net{{ .image1.image_url }}?fm=jpg&q=75&width=325&height=250 400w, https://milksource.imgix.net{{ .image1.image_url }}?fm=jpg&q=75&width=600&height=450 600w, https://milksource.imgix.net{{ .image1.image_url }}?fm=jpg&q=75&fit=crop&w=353&h=471 800w" type="image/jpg">

    <img src="{{ .image1.image_url }}" width="600" height="450" alt="{{ .image_url }}">   
</picture>