<picture>
    <source srcset="https://milksource.imgix.net{{ .image1.image_url }}?fm=avif&width=250&height=350&fit=crop" type="image/avif">

    <source srcset="https://milksource.imgix.net{{ .image1.image_url }}?fm=webp&width=250&height=350&fit=crop" type="image/webp">

    <source srcset="https://milksource.imgix.net{{ .image1.image_url }}?fm=jpg&width=250&height=350&fit=crop" type="image/jpeg">

    <img src="{{ .image1.image_url }}" width="250" height="350" alt="{{ .image1.image_alt }}" loading="lazy">   
</picture>