<section aria-labelledby="{{ .heading | urlize }}" class="cta-wrapper bg-white">
  <div class="wrapper-lg">
    <div class="cta bg-primary fade-up">
      <div class="cta__content block">
        <div class="cta__content-inner wrapper text-white text-center flow">
          <h2 id="{{ .heading | urlize }}" class="cta__title">{{ .heading }}</h2>
          <p style="max-width: 900px; margin: 1.25rem auto 0 auto;">{{ .body | markdownify }}</p>
          <a class="btn btn--white" href="{{ .button.button_url }}" {{ if .button.open_in_new_tab }} target="_blank" rel="noopener noreferrer nofollower"{{ end }}>{{ .button.button_text }}</a>
        </div>
      </div>
    </div>
  </div>
</section>
