<section class="two-column-section block" aria-labelledby="{{ .heading | plainify | urlize }}">
  <div class="wrapper-lg split-column">
    <div class="col flow">
        {{ partial "heading" . }}
        <p>{{ .body | markdownify }}</p>
        {{ if .button.enabled}}
          <a href="{{ .button.button_url }}" class="btn btn--primary">{{ .button.button_text }}</a>
        {{ end }}
    </div>
    <div class="w-100 w-50-m">
        {{ partial "responsive-image" . }}
    </div>
  </div>
</section>