{{ define "main" }}
{{ partial "hero" . }}
{{ partial "intro" . }}
<section>
  <div class="block bg-gray">
    <div class="wrapper flow">
        <h2 class="text-center">Open Positions</h2>
        <ul class="positions-list no-padding max-width-none">
            {{ range .Pages }}
                <li class="position card list-style-none max-width-none flow">
                    <div class="position__header">
                        <h3>
                            <button class="w-100 max-width-none no-padding flex flex-center flex-justify-between">
                                <span class="h3 font-primary">{{ .Title }}</span>
                                <span class="position__indicator">{{ partialCached "svg-icons/chevron-right.svg" . }}</span>
                            </button>
                        </h3>
                        <div class="divider"></div>
                    </div>
                    <div class="position__content">
                        <div class="position__content-inner flow">
                            <p class="fs-100 max-width-none">{{ .Params.SEO.meta_description }}</p>
                            <a href="{{ .Permalink }}" class="btn btn--primary card__link card__read-more flex flex-center">View Job Listing {{ partialCached "svg-icons/double-chevron-right.svg" . }}</a>
                            <p>{{upper .Params.location.city }}, {{upper .Params.location.state }} | {{upper .Params.status }}<span>POSTED ON: {{ .Params.date.Format "January 2, 2006" }}</span></p>
                        </div>
                    </div>
                </li>
            {{ end }}
        </ul>
    </div>
  </div>
</section>
  {{ if .Params.cta_block.enabled }}
  {{ with .Params.cta_block }}
  {{ partial "cta" . }}
  {{ end }}
  {{ end }}
{{ end }}