{{ define "main" }}
{{ partial "hero" . }}
{{ partial "intro" . }}
<section aria-labelledby="Open Positions">
  <div class="block bg-gray">
    <div class="wrapper flow">
        <h2 id="Open Positions" class="text-center">Open Positions</h2>
        <div class="positions-list no-padding max-width-none">
            {{ range first 1 .Pages }}
                <details class="position card list-style-none max-width-none flow" open role="group">
                    <summary class="position__heading h4" tabindex="0">{{ .Title }}</summary>
                    <p>{{ .Params.SEO.meta_description }}</p>
                    <a href="{{ .Permalink }}" class="btn btn--primary">View Job Listing</a>
                    <div class="position__metadata flex flex-justify-between shift-up">
                      {{ .Params.location.city }}, {{ .Params.location.state }} | {{ .Params.job_type }}
                      <span>Post On: {{ .Params.date.Format "January 2, 2006" }}</span>
                    </div>
                </details>
            {{ end }}
            {{ range after 1 .Pages }}
                <details class="position card list-style-none max-width-none flow" role="group">
                    <summary class="position__heading h4" tabindex="0">{{ .Title }}</summary>
                    <p>{{ .Params.SEO.meta_description }}</p>
                    <a href="{{ .Permalink }}" class="btn btn--primary">View Job Listing</a>
                    <div class="position__metadata flex flex-justify-between shift-up">
                      {{ .Params.location.city }}, {{ .Params.location.state }} | {{ .Params.job_type }}
                      <span>Post On: {{ .Params.date.Format "January 2, 2006" }}</span>
                    </div>
                </details>
            {{ end }}
        </div>
    </div>
  </div>
</section>
  {{ if .Site.Data.global_partials.career_cta.enabled }}
    {{ with .Site.Data.global_partials.career_cta }}
    {{ partial "cta" . }}
    {{ end }}
  {{ end }}
{{ end }}