{{ define "main" }}
<section aria-label="Single Post Content Body" class="block bg-gray">
    <div class="post-content wrapper">
        <div class="post-content__inner flow">
            <h1>{{ .Title }}</h1>
            <div>
                <span class="mr-3">{{ partial "svg-icons/job-type-logo.svg" . }} {{ .Params.job_type }}</span>
                <a href="{{ .Params.googlemaps }}" class="no-decoration" target="_blank"><span class="mr-3">{{ partial "svg-icons/location-logo.svg" . }}{{ .Params.location.city }}, {{ .Params.location.state }}</span></a>
                <span>{{ partial "svg-icons/calendar-logo.svg" . }} Posted {{ .Params.date.Format "January 2, 2006" }}</span>
            </div>
            {{ .Content  }}
        </div>
    </div>
</section>
{{ if .Params.cta_block.enabled }}
{{ with .Params.cta_block }}
{{ partial "cta" . }}
{{ end }}
{{ end }}
{{ end }}