{{ define "main" }}
<section aria-label="Single Post Content Body" class="block bg-gray">
    <div class="post-content wrapper">
        <div class="post-content__inner flow">
            <h1>{{ .Title }}</h1>
            <div class="post-content__icons flex flex flex-center">
                {{ partial "svg-icons/job-type-logo.svg" . }}<span> {{ .Params.job_type }}</span>
                {{ partial "svg-icons/location-logo.svg" . }}<span><a href="{{ .Params.googlemaps }}" class="no-decoration" target="_blank">{{ .Params.location.city }}, {{ .Params.location.state }}</a></a></span>
                {{ partial "svg-icons/calendar-logo.svg" . }}<span> Posted {{ .Params.date.Format "January 2, 2006" }}</span>
            </div>
            {{ .Content  }}
            {{ if .Params.button.enabled }}
            {{ with .Params.button }}
            <a href="{{ .button_url }}" class="btn btn--primary" target="_blank">{{ .button_text}}</a>
            {{ end }}
            {{ end }}
        </div>
    </div>
</section>
{{ if .Params.cta_block.enabled }}
{{ with .Params.cta_block }}
{{ partial "cta" . }}
{{ end }}
{{ end }}
{{ end }}