{{ define "main" }} 
{{ partialCached "home/home-hero" . }}
{{ partial "home/home-intro" . }}
{{ partial "intro" . }}
{{ partial "image-reel" . }}

<section class="community-section block">
    {{ if .Params.community.enabled }}
    {{ with .Params.community }}
    <div class="wrapper-lg">
        <div class="outer-community flex flex-row">
            <div class="community-content w-50 m-auto">
                <div>
                    <h2 class="h3">{{ .heading }}</h2>
                </div>
                <div>
                    <p>{{ .body }}</p>
                </div>
                 {{ if .button.enabled}}
                <div class="community-button">
                    <a href="{{ .Params.community.button.button_url }}" class="btn btn--primary">{{ .button.button_text }}</a>
                </div>
                {{ end }}
            </div>
            <div class="community-image w-50">
                {{ partial "responsive-image" . }}
            </div>
        </div>
    </div>
    {{ end }}
    {{ end }}
</section>

{{ if .Params.careers.enabled }}
<section class="cta p-relative">
    <div class="cta__image cover-image p-absolute"><img src="/uploads/leadership-class.jpg" alt=""></div>
    <div class="cta__gradient p-absolute"></div>
    <div class="cta__content p-relative block">
        <div class="wrapper-lg">
            <div class="cta__heading">
                <h2 class="h3 text-white">{{ .Params.careers.heading }}</h2>
            </div>
            <div class="cta__body">
                <p class="text-white">{{ .Params.careers.body }}</p>
            </div>
            {{ if .Params.careers.button.enabled }}
            <div class="cta__btn mt-6">
                <a href="{{ .Params.careers.button.button_url }}" class="btn btn--white hero-button">{{ .Params.careers.button.button_text }}</a>
            </div>
        </div>
        {{ end }}
    </div>
</section>
{{ end }}
{{ end }}
