{{ define "main" }}
{{ partial "hero" . }}
<div class="block intro">
    <div class="wrapper">
        <p class="loxi" data-background-color="" data-categories="all" data-color="#003b71" data-default-layout="list" data-font-family="" data-is-demo="false" data-show-category-filter="1" data-show-location-address="1" data-show-location-filter="1" data-show-search-filter="1" data-show-view-switcher="1" data-show-list-view-image="1" data-show-social-media-buttons="1" data-site-id="76101" data-subdomain="winter-warm-up" data-theme="light" data-timezone="America/Chicago" data-title="Winter Warm-Up" data-venue="all"><a href="https://winter-warm-up.loxi.io">View more events</a> on <a href="https://loxi.io">Loxi.io</a></p><script async src="https://winter-warm-up.loxi.io/embed/client.js"></script>
    </div>
</div>
{{ end }}