<div class="sb-locations-slider">
  <!-- <div class="sb-locations-slider__buttons flex">
      {{ range .Site.Data.modern_agriculture }}
          <button class="sb-locations-slider__button btn">{{ .name }}</button>
      {{ end }}
  </div> -->
  <div class="sb-locations-slider__wrapper mt-6">
      <div class="sb-locations-slider__contents">
          {{ range .Site.Data.modern_agriculture }}
          <div class="sb-locations-slider__slide flex flex-column flex-row-m">
              <div class="w-100 w-50-m text-white location-info flow--locations">
                  <h3>{{ .name }}</h3>
                  <div>
                      <a href="/locations/{{ .name | urlize }}/" class="btn btn--primary">{{ .name }}</a>
                  </div>
              </div>
              <div class="w-100 w-50-m mt-3 mt-0-m">
                  <div class="decorative-background-image">
                      <img src="{{ .image_url }}" alt="">
                  </div>
              </div>
          </div>
          {{ end }}   
      </div>
  </div>
</div>

{{ if .Params.intro.enabled }}
  {{ with .Params.intro }} 
  <section aria-labelledby="{{ .heading | urlize }}" class="intro block bg-white">
    <div class="wrapper-lg flex flex-column flex-row-m">
      <div class="w-100 w-50-m flow">
        {{ if .heading }}
          {{ partial "heading" . }}
        {{ end }} 
        {{ if .body }}
          {{ .body | safeHTML }}
        {{ end }} 
        {{ if .button.enabled }}
          <div class="flex flex-column flex-row-m">
            {{ if .button.enabled }}
              <a href="{{ .button.button_url }}" class="btn btn--primary" {{ if .button.open_in_new_tab }} target="_blank" rel="noopener noreferrer nofollower"{{ end }}>{{ .button.button_text }}</a>
            {{ end }} 
            {{ if .button_2.enabled }}
              <a href="{{ .button_2.button_url }}" class="btn btn--primary mt-3 mt-0-m ml-3-m" {{ if .button_2.open_in_new_tab }} target="_blank" rel="noopener noreferrer nofollower"{{ end }}>{{ .button_2.button_text }}</a>
            {{ end }} 
          </div>
        {{ end }} 
      </div>
      <div class="w-100 w-50-m mt-6 mt-0-m ml-3-m">
        {{ if .image.enabled }}
          {{ with .image }}
            {{ partial "responsive-image-small" . }}
          {{ end }}
        {{ end }}
      </div>
    </div>
  </section>
  {{ end }}
{{ end }}
