<section class="hero-slider">
  <h1 class="visually-hidden">Leading the way in modern sustainable agriculture</h1>
  <div class="hero-slider__wrapper">
    {{ range .Params.hero_slider.slides }}
    <div class="hero-slider__slide">
      <div class="hero__image">
        <picture>
          <source sizes="100vw" srcset="https://milksource.imgix.net{{ .image.image_url }}?fm=avif&q=70&height=600&width=360 600w, https://milksource.imgix.net{{ .image.image_url }}?fm=avif&q=70&height=400&width=800 800w, https://milksource.imgix.net{{ .image.image_url }}?fm=avif&q=70&height=500&width=1000&fit=crop 1000w, https://milksource.imgix.net{{ .image.image_url }}?fm=avif&q=70&height=600&width=1200&fit=crop 1200w, https://milksource.imgix.net{{ .image.image_url }}?fm=avif&q=70&height=700&width=1400&fit=crop 1400w, https://milksource.imgix.net{{ .image.image_url }}?fm=avif&q=70&height=900&width=1800&fit=crop 1800w, https://milksource.imgix.net{{ .image.image_url }}?fm=avif&q=70&height=1000&width=2000&fit=crop 2000w" type="image/avif">
      
          <source sizes="100vw" srcset="https://milksource.imgix.net{{ .image.image_url }}?fm=webp&q=70&height=600&width=360&fit=crop 600w, https://milksource.imgix.net{{ .image.image_url }}?fm=webp&q=70&height=400&width=800&fit=crop 800w, https://milksource.imgix.net{{ .image.image_url }}?fm=webp&q=70&height=500&width=1000&fit=crop 1000w, https://milksource.imgix.net{{ .image.image_url }}?fm=webp&q=70&height=600&width=1200&fit=crop 1200w, https://milksource.imgix.net{{ .image.image_url }}?fm=webp&q=70&height=700&width=1400&fit=crop 1400w, https://milksource.imgix.net{{ .image.image_url }}?fm=webp&q=70&height=900&width=1800&fit=crop 1800w, https://milksource.imgix.net{{ .image.image_url }}?fm=webp&q=70&height=1000&width=2000&fit=crop 2000w" type="image/webp">
      
          <source sizes="100vw" srcset="https://milksource.imgix.net{{ .image.image_url }}?fm=jpg&q=70&height=600&width=360&fit=crop 600w, https://milksource.imgix.net{{ .image.image_url }}?fm=jpg&q=70&height=400&width=800&fit=crop 800w, https://milksource.imgix.net{{ .image.image_url }}?fm=jpg&q=70&height=500&width=1000&fit=crop 1000w, https://milksource.imgix.net{{ .image.image_url }}?fm=jpg&q=70&height=600&width=1200&fit=crop 1200w,https://milksource.imgix.net{{ .image.image_url }}?fm=jpg&q=70&height=700&width=1400&fit=crop 1400w, https://milksource.imgix.net{{ .image.image_url }}?fm=jpg&q=70&height=900&width=1800&fit=crop 1800w, https://milksource.imgix.net{{ .image.image_url }}?fm=jpg&q=70&height=1000&width=2000&fit=crop 2000w" type="image/jpg">
          <img src="{{ .image.image_url }}" alt="{{ .image.image_url_alt }}" width="1500" height="600">
        </picture>
      </div>
        <div class="bg-gradient">
        </div>
        <div class="hero-slider__outter-content-wrapper">
          <div class="hero-slider__content wrapper-md">
            <div class="hero-slider__heading">
              <h2 class="h1 text-white">{{ .heading }}</h2>
            </div>  
            <div>
              <a href="{{ .body.button.button_url }}" class="btn btn--white">{{ .body.button.button_text }}</a>
            </div>
          </div>
        </div>
    </div>
    {{ end }}
  </div>
  <div class="hero-slider__outer-div">
    <div class="hero-slider__button-wrapper wrapper-md">
      {{ range .Params.hero_slider.slides }}
      <button class="slider-button btn">{{ .button.button_text }}</button>
      {{ end }}
    </div>
  </div>
</section>