{{ define "main" }}
{{ partial "hero" . }}
{{ partial "intro" . }}
<div class="block">
  <div class="wrapper">
    <h2>How to Reach Us</h2>
    <h3>Partners</h3>
    {{ range .Params.contact_list }}
    {{ if eq .is_partner true }}
    <div class="contact columns-2 border flex flex-justify-between bg-gray">
      <div>
        <div class="b">{{ .name }}</div>
        <div>{{ .job_title }}</div>
      </div>
      <div class="flow word-break-all">
        <div class="flex flex-column">
          <span class="flex flex-justify-end b">Phone:</span>
          <a href="tel:{{ .phone }}" class="work-phone flex flex-justify-end">{{ .phone }}</a>
        </div>
        <div class="flex flex-column">
          <span class="flex flex-justify-end b">Work email:</span>
          <a href="mailto:{{ .email }}" class="work-email flex flex-justify-end">{{ .email }}</a>
        </div>
      </div>
    </div>
    {{ end }}
    {{ end }}
    <h3 class="mt-4">Team Milksource</h3>
    {{ range .Params.contact_list }}
    {{ if eq .is_partner false }}
    <div class="contact columns-2 border flex flex-justify-between bg-gray">
      <div class="flow">
        <div class="b">{{ .name }}</div>
        <div>{{ .job_title }}</div>
      </div>
      <div class="flow word-break-all">
        <div class="flex flex-column">
          <span class="flex flex-justify-end b">Phone:</span>
          <a href="tel:{{ .phone }}" class="work-phone flex flex-justify-end">{{ .phone }}</a>
        </div>
        <div>
          <span class="flex flex-justify-end b">Work Email:</span>
          <a href="mailto:{{ .email }}" class="work-email flex flex-justify-end">{{ .email }}</a>
        </div>
      </div>
    </div>
    {{ end }}
    {{ end }}
  </div>
</div>
{{ end }}