{{ define "main" }}
{{ partial "hero" . }}
{{ partial "contact/intro" . }}
<div class="contact-content block bg-gray">
  <div class="wrapper mt-10">
    <h2>Partners</h2>
    {{ range .Params.contact_list }}
    <div class="contact columns-2 border">
      <div class="flow">
        <div>{{ .partners.name }}</div>
        <div>{{ .partners.job_title }}</div>
      </div>
      <div class="flow">
        <div>Work Phone: {{ .partners.phone }}</div>
        <div>Work email: {{ .partners.email }}</div>
      </div>
    </div>
    {{ end }}
    <h2>Team MilkSource</h2>
  </div>
</div>
{{ end }}