.border-top-gray {
    border-top: 1px solid $light-gray;
}

.border-bottom-gray {
    border-bottom: 1px solid $light-gray;
}

.border-top-accent {
    border-top: 2px solid $accent-color;
}

.border-bottom-accent {
    border-bottom: 2px solid $accent-color;
}