body,
button,
input,
select,
optgroup,
textarea {
  font-family: $primary-font;
  font-size: $ic-100;
  font-weight: 400;
  line-height: 1.5;
  color: $black;

  @include breakpoint(sm) {
    font-size: $ic-200;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $secondary-font;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 0.65em;
}

.max-80 {
  max-width: $measure;
}

h1,
.h1 {
  font-size: clamp($ic-300, 4vw, $ic-700);
  max-width: 30ch;
}

h2,
.h2 {
  font-size: clamp($ic-200, 4vw, $ic-500);
}

h3,
.h3 {
  font-size: clamp($ic-200, 4vw, $ic-400);
}

h4,
.h4 {
  font-size: clamp($ic-200, 4vw, $ic-400);
}

h5,
.h5 {
  font-size: clamp($ic-200, 4vw, $ic-300);
}

h6,
.h6 {
  font-size: clamp($ic-100, 4vw, $ic-200);
}

p {
  margin: 0;
}

article {
  > ul,
  > ol {
    > li + li {
      margin-top: $ic-100;
    }
  }

  * {
    + h2 {
      margin-top: 4rem;
    }

    + h3 {
      margin-top: 2rem;
    }
  }
}

.i {
  font-style: italic;
}

.b {
  font-weight: bold;
}

.shift-first {
  text-transform: capitalize;
}

.shift-up {
  text-transform: uppercase;
}

.no-margin {
  margin: 0;
}

.text-black {
  color: $black;
  transition: $transition;
}

.text-white {
  color: $white;
}

.text-primary {
  color: $primary-color;
}

.text-secondary {
  color: $secondary-color;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fs-100 {
  font-size: $ic-100;
}

.fs-200 {
  font-size: $ic-200;
}

.fs-300 {
  font-size: $ic-300;
}

.text-center {
  text-align: center;
}

@include breakpoint(sm) {
  .text-center-s {
    text-align: center;
  }
}

@include breakpoint(md) {
  .text-center-m {
    text-align: center;
  }
}

address {
  font-style: normal;
}