.wrapper {
    width: 100%;
    max-width: 63rem;
    margin-inline: auto;
    padding-inline: $ic-300;
}

.wrapper-sm {
    width: 100%;
    max-width: 48rem;
    margin-inline: auto;
    padding-inline: $ic-300;
}

.wrapper-md {
    width: 100%;
    max-width: 80rem;
    margin-inline: auto;
    padding-inline: $ic-300;
}

.wrapper-lg {
    width: 100%;
    max-width: 100rem;
    margin-inline: auto;
    padding-inline: $ic-300;
}

.wrapper-xl {
    width: 100%;
    max-width: 120rem;
    margin-inline: auto;
    padding-inline: $ic-300;
}
  
  